<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
<style>
    .row.ablr {
    margin: auto;
    width: 100%;
}

b.abtitle {
    padding: 21px;
    background: beige;
    border-radius: 11px;
    color: #47ac47;
    /* position: relative; */
  
}

p.titleabout {
    margin-top: 28px;
    line-height: 29px;
}

.col-md-6.text-center.top-div.d-flex.justify-content-center.col-sm-12 img {
    width: 94%;
    height: 100%;
    border-radius: 11px;
}




@media only screen and (max-width:800px) {
.col-md-6.text-center.top-div.d-flex.justify-content-center.col-sm-12 img {
    margin-top: 40px;
}
}





</style>
    <%-include('header')%>


    <div class="parallax">
        <div class="container">
            <div class="row ablr">
                <div class="col-md-6 top-div text-center col-sm-12">
                    <div>
                       <b class="abtitle">রুপদিয়া শহীদ স্মৃতি মহাবিদ্যালয়  সম্পর্কে</b>
                        <p class="titleabout"> যশোর সদরের রুপদিয়া বাজারের পশ্চিম পার্শ্বে নিরিবিলি পরিবেশে অবস্থিত রুপদিয়া শহীদ স্মৃতি মহাবিদ্যালয় একট জ্ঞানভিত্তিক ও আধুনিক প্রযুক্তি সমৃদ্ধ প্রতিষ্ঠান । কাঙ্খিত ফলাফল ছাত্র-ছাত্রীদের প্রাথমিক প্রত্যাশা। এজন্য প্রয়োজন নিরলস প্রচেষ্টা এবং বাস্তবভিত্তিক শিক্ষা গ্রহন যা আমাদের একমাত্র লক্ষ্য। এ জ্ঞান তীর্থে পদার্পনের একটাই উদ্দেশ্য সত্যিকার মানুষ হওয়া । আর এই প্রত্যয় নিয়েই রুপদিয়া শহীদ স্মৃতি মহাবিদ্যালয়টি ১৯৯৯ সালে প্রতিষ্ঠিত হয়ে সুনাম ও সাফল্যের সাথে পরিচালিত হয়ে আসছে ।

    
                                               <div class="payreleted">
                                                <a class="fees btn btn-dark"  href="/">ফিরুন</a>
                                              
                                                
                                               </div>
                                        </div>
                </div>
    
                <div class="col-md-6 text-center top-div d-flex justify-content-center col-sm-12">
    
    
                        <img class="react-logo" src="https://lh3.googleusercontent.com/p/AF1QipMx11MF80FxxXDpjYOc2H5MMVNYqltVKz1mdO-P=s680-w680-h510">
                </div>
    
            </div>
        </div>
    </div>



    <%-include('footer')%>
    
</body>
</html>