<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="description" content="ssc result 2022 jessore dhaka result  educationboardresults.gov.bd freelancer Mazaharul,Mazaharul.majaharul,soikat,web design and develoepr,maza,maja,learn web disign developent,jessore,rupdia,balarampur,balorampur,rupdia shahid degree collage">
                <meta name="author" content="Mazaharul islam">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <link href="https://react.rabbil.com/css/fontawesome.css" rel="stylesheet" type="text/css" >

        <link href="https://react.rabbil.com/css/owl.carousel.min.css" rel="stylesheet" type="text/css" >
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

      
        <div class="footers">
 
            <p class="credit-text my-2 ">All Rights Reserved By Mazaharul Islam © 2020-2021 </p>
      
      </div>
        
    
</body>
</html>