<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="description" content="ssc result 2022 jessore dhaka result  educationboardresults.gov.bd freelancer Mazaharul,Mazaharul.majaharul,soikat,web design and develoepr,maza,maja,learn web disign developent,jessore,rupdia,balarampur,balorampur,rupdia shahid degree collage">
                <meta name="author" content="Mazaharul islam">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <link href="https://react.rabbil.com/css/fontawesome.css" rel="stylesheet" type="text/css" >

        <link href="https://react.rabbil.com/css/owl.carousel.min.css" rel="stylesheet" type="text/css" >
        <link rel="stylesheet" href="style.css">
    </head>
    <body>


    <div class="main22" style="background: #ddd;">
        <nav class="navbar  fixed-top navbar-expand-lg">
            <a class="navbar-brand" href="/"><h2 class="logo">RSSC</h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav p-1">
                 
    
                    <li class="nav-item">
                        <a class="nav-link nav-font" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-font" href="#">Service</a>
                    </li>
                                        <li class="nav-item">
                            <a class="nav-link nav-font" href="/login">Login</a>
                      
                            
                        </li>
                                        <li class="nav-item">
                            <a class="nav-link nav-font" href="/admin">Admin</a>
                      
                            
                        </li>
                                </ul>
            </div>
    
        </nav>
    </div>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
  
</body>
</html>