
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to RSSC </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="description" content="ssc result 2022 jessore dhaka result  educationboardresults.gov.bd freelancer Mazaharul,Mazaharul.majaharul,soikat,web design and develoepr,maza,maja,learn web disign developent,jessore,rupdia,balarampur,balorampur,rupdia shahid degree collage">
                <meta name="author" content="Mazaharul islam">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <link href="https://react.rabbil.com/css/fontawesome.css" rel="stylesheet" type="text/css" >

        <link href="https://react.rabbil.com/css/owl.carousel.min.css" rel="stylesheet" type="text/css" >
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
<style>
    .studentsTa {
    width: 80%;
    margin: auto;
    background: #ececec;
    margin-bottom: 90px;
}

thead {
    background: #404a5d;
    color: white;
}

td{
    text-align: center;
}

th {
    text-align: center;
}

</style>
    

        <%-include('header')%>   
      
    
        <div class="parallax">
        <div class="container">
            <div class="row">
                <div class="col-md-6 top-div text-center col-sm-12">
                    <div>
                        <p class="m-0 top-title">কলেজের নিয়ম কানুন মেনে চলি স্যারদের   </p>
                        <p class=" m-0 top-subtitle"> বকা কম শুনি</p>

                                               <div class="payreleted">
                                                <a class="fees"  href="#">ফি  সমূহ</a>
                                                <a class="btn btn-success m-2"  href="payfees">ফি প্রদান করুন</a>
                                                
                                               </div>
                                        </div>
                </div>
    
                <div class="col-md-6 text-center top-div d-flex justify-content-center col-sm-12">
    
    
                        <img class="react-logo" src="https://www.sarvika.com/wp-content/uploads/2020/12/Payment-gateway-2.gif">
                </div>
    
            </div>
        </div>
    </div>

<div class="studentsTa" class="container">
    
    <table class="table table-hover ">
        <thead style="text-align: center;">
          <tr>
            <th scope="col">Roll</th>
            <th scope="col">Name</th>
            <th scope="col">Section</th>
            <th scope="col">Account_stutas</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th style="text-align: center;" scope="row">213001</th>
            <td>Md Majaharul Islam</td>
            <td>Commerce</td>
            <td>Pending</td>
          </tr>
          <tr>
            <th style="text-align: center;"  scope="row">213002</th>
            <td>Md Rafid Hasan</td>
            <td>Commerce</td>
            <td >Confirm</td>
          </tr>
          <tr>
            <th style="text-align: center;" scope="row">213003</th>
            <td>Md Murad Hossen</td>
            <td>Commerce</td>
            <td>Pending</td>
          </tr>
          
        </tbody>
      </table>

</div>

            <div class="links container">
                <div class="linktitle">Some Importan Links :-</div>

              <div class="linksMian">

                <a  href="https://www.jessoreboard.gov.bd/" target="_blank" class="slikbox">
                    <p >যশোর শিক্ষা বোর্ড</p>
                </a>

                <a  href="http://www.dshe.gov.bd/" target="_blank"  class="slikbox">
                    <p>মাধ্যমিক ও উচ্চশিক্ষা অধিদপ্তর</p>
                </a>
                <a href="http://www.educationboardresults.gov.bd/" target="_blank" class="slikbox">
                    <p  >পরীক্ষার ফলাফল</p>
                </a>
                <a href="https://rupdiacollege.edu.bd/" target="_blank" class="slikbox">
                    <p  > রূপদিয়া কলেজ</p>
                </a>
              </div>

            </div>

             
                
    </div>

    
  
    
    <%-include('footer')%>
  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     


    </body>
    </html>
    